html {
    font-size: 10px;
}

@media (min-width: 768px) {
    html {
        font-size: 10px;
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 15px;
    }
}

@media (min-width: 1440px) {
    html {
        font-size: 16px;
    }
}

body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background: linear-gradient(135deg, #f4f4f4, #e2e2e2);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.cv-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    max-width: 1200px;
    width: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.left-column {
    background-color: #444;
    color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.right-column {
    background-color: #fff;
    color: #333;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.photo {
    display: flex;
    justify-content: center;
    align-content: center;
}

.photo img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 2rem;
    border: 4px solid #fff;
}

.skills header, .work-experience header {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    padding-bottom: 0.5rem;
    color: #fff;
}

.work-experience header {
    color: black;
    margin: 0;
    padding: 0;
}

ul {
    list-style: disc inside;
    padding-left: 0.6rem;
    font-size: 0.9rem;
}

.contact {
    list-style: none; /* Removes bullets */
    padding: 0 0 1.2rem 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
}

.contact li {
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
    display: flex; /* Aligns the content horizontally if needed */
    align-items: center; /* Aligns icons and text vertically */
    gap: 0.6rem; /* Adds space between the icon and text */
}

.contact i {
    font-size: 0.9rem; /* Adjusts icon size */
    color: #fff; /* Default color for the icons */
    padding-left: 0.6rem;
}

.contact a {
    display: flex; /* Align icon and text */
    align-items: center;
    gap: 8px; /* Space between icon and text */
    text-decoration: none; /* Remove underline */
    color: #fff; /* Default color */
    overflow: hidden;
    font-size: 0.9rem; /* Base font size */
    padding: 0.5rem; /* Add padding for better click area */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.contact a:visited {
    color: #fff; /* Change color for visited links */
}

.contact a:hover {
    background-color: #f0f0f0; /* Light grey background on hover */
    color: #0077b5; /* Change text color (e.g., LinkedIn blue) */
    transform: translateY(-3px); /* Slight lift effect */
}

.contact a:active {
    background-color: #e6e6e6; /* Darker grey for click effect */
    color: #0077b5; /* Slightly darker blue */
    transform: translateY(1px); /* Push down effect on click */
}



.intro {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    text-align: center;
    min-height: 160px;
}

.intro h1 {
    margin: 0;
    font-size: 2rem;
    color: #444;
}

.intro p {
    margin: 0.5rem 0 0;
    font-size: 1.5rem;
    color: #777;
}

.university {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
}

.university-degree {
    margin: 0.25rem 0;
    font-size: 0.8rem;
    font-weight: 300;
}

.work-experience {
    max-width: 1200px;
    background-color: #fff;
}

.job {
    padding-top: 1.2rem;
}

.company-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-header h3 {
    margin: 0;
}

.company-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.time-range {
    font-size: 1rem;
    margin: 0;
}

.job-title {
    font-size: 1rem;
    font-weight: 500;
    color: #5e6b7e;
    margin: 0;
}

.projects {
    font-size: 1rem;
    margin-top: 0.5rem;
    border-bottom: 3px solid #f0f0f0;
}

.project {
    display: flex;
    margin-bottom: 20px;
}

.project-left {
    width: 30%;
    padding-right: 2rem;
}

.project-left h4 {
    font-size: 1rem;
    font-weight: 500;
}

.project-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #3a4756;
    margin: 0;
}

.project-right {
    width: 70%;
}

.project-description {
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.stack {
    font-size: 0.9rem;
    margin: 0;
    color: #4e5d6e;
}

.project + .project {
    border-top: 3px solid #f0f0f0;
    padding-top: 1.5rem;
}


/* Responsive Design */
@media (max-width: 625px) {
    html {
        font-size: 15px;
    }

    .intro {
        display: none;
    }

    .intro-top {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding:0;
        margin:0;
        color: white;
    }

    .intro-top h1 {
        padding: 0;
        margin: 0;
    }

    .cv-container {
        display: flex;
        flex-direction: column;
       /* grid-template-columns: 1fr;
        grid-template-rows: auto auto;*/
    }

    .photo img {
        width: 200px;
        height: 200px;
    }

    .left-column, .right-column {
        padding: 15px;
    }
}

@media (min-width: 626px) {
    .intro-top {
       display: none;
    }

    .intro {
        display: flex;
    }
}